<!--Page 1-->
<div class="h-screen w-screen">
  <!--Navbar-->
  <nav class="">
    <img src="../assets/logo.png" class="h-8" alt="logo">
  </nav>
  <!--Background-->
  <img src="../assets/smk.png" class="h-screen w-screen" alt="">
</div>

<!--Page 2-->
<section class="h-screen w-screen bg-second-page">

</section>

<!--Page 3-->
<section class="h-screen w-screen bg-third-page">

</section>

<!--Page 4-->
<section class="h-screen w-screen bg-fourth-page">

</section>

<!--Page 5-->
<section class="h-screen w-screen bg-fifth-page">

</section>

<!--Page 6-->
<section class="h-screen w-screen bg-sixth-page">

</section>

<!--Page 7-->
<section class="h-screen w-screen bg-seventh-page">

</section>

<!--Page 8-->
<section class="h-screen w-screen bg-eigth-page">

</section>

<!--Page 9-->
<section class="h-screen w-screen bg-ninth-page">

</section>

<!--Page 10-->
<section class="h-screen w-screen bg-tenth-page">

</section>

<!--Page 11-->
<section class="h-screen w-screen bg-eleventh-page">

</section>

<!--Footer-->
<!--Højde og bredde skal ikke være screen-->
<div class="h-screen w-screen">
  <footer class="px-32 flex justify-between flex-col lg:flex-row">
    <!--Left side footer-->
    <div class="flex flex-col">
      <!--Find os på-->
      <div>
      <h1 class="font-bold">Find os på</h1>
      <ul class="mt-2 underline">
        <li>Instagram</li>
        <li>Facebook</li>
        <li>YouTube</li>
        <li>LinkedIn</li>
      </ul>
      </div>
      <div>
        <h1 class="font-bold">SMK Nyhedsbrev</h1>
        <h2 class="underline mt-2">Tilmeld dig her</h2>
      </div>
      <div>
        <h1 class="font-bold">Åbningstider</h1>
        <p><strong>Tirsdag - søndag</strong> 10-18</p>
        <p><strong>Onsdag</strong> 10 - 20</p>
        <p><strong>Mandag</strong> Lukket</p>
      </div>
    </div>
    <!--End left side footer-->

    <!--Middle footer-->
    <div class="font-bold text-custom-gray">
      <ul>
        <li class="text-custom-gray hover:text-white">Besøg SMK</li>
        <li class="text-custom-gray hover:text-white">Kontakt os</li>
        <li class="text-custom-gray hover:text-white">Årskort</li>
        <li class="text-custom-gray hover:text-white">Søg i samlingen</li>
        <li class="text-custom-gray hover:text-white">Støt SMK</li>
        <li class="text-custom-gray hover:text-white">Presse</li>
      </ul>
    </div>

    <!--Right side footer-->
    <div class="flex flex-col">
      <!--Addresse-->
      <div>
        <h1 class="font-bold">Statens Museum for Kunst</h1>
        <p>Sølvgade 48-50</p>
        <p>1307 København K</p>
      </div>
    </div>
  </footer>
</div>